<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">FastBBot - {{ header }}</span>
      </a>
    </header>
  </div>
<div class="container position-relative">
    <div class="row justify-content-center p-3">
        <div class="col-auto position-absolute start-0">
            <div class="container">
                {% for l in list %}
                    <ul class="list-group">
                        <li class="list-group-item" style="margin-top: 5px;">
                        <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                    Abobus2022AllMyFriendsAreToxicPipInstallPip.docx
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
        <div class="col-auto position-absolute end-0">
            <div class="row align-items-start">
                <form action="{% url 'create_file' %}" method="get">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-lg">Добавить</button>
                </form>
            </div>
            <div class="row align-items-start" style="margin-top: 15px;">
            <form action="{% url 'delete_file' %}" method="get">
                <button type="submit" class="btn btn-outline-danger btn-lg">Удалить</button>
            </form>
            </div>
            <div class="row align-items-start" style="margin-top: 15px;">
            <form action="{% url 'download_file' %}" method="get">
                <button type="submit" class="btn btn-primary btn-lg">Скачать</button>
            </form>
            </div>
            <div class="row align-items-start" style="margin-top: 15px;">
            <form action="{% url 'export_file' %}" method="get">
                <button type="submit" class="btn btn-primary btn-lg">Экспорт</button>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>